{#
/**
 * @file
 * Default theme implementation for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A CSS-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   JavaScript.
 *
 * @see template_preprocess_views_view()
 *
 * @ingroup themeable
 */
#}

<!-- THEME DEBUG -->
<!-- theme_name: theme-name/templates/page.html.twig -->

        <!-- Your view output here -->

{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}

<div{{ attributes.addClass(classes) }}>

<div class="conference-card" {{ attributes.addClass('custom-node-page') }} {{ attributes }}>
    <div class="conference-card__image">
        {% if content.field_card_ %}

        <span class="mainimage">  {{ content.field_card_ }}</span>
        {% endif %}
    </div>
    <div class="conference-card__details">
     {#   {{ content.field_card_title }}#} 
        <div class="conference-card__meta" >
            <p >{{ content.field_texticons }}</p>
        <p>{{ content.field_iconsgrid }}</p>
            {% if content.field_free.value == 1 %}
              <span class="conference-card__free">Free</span>
            {% else %}
           
              <span class="conference-card__star">{{ content.field_price }}</span>
               <span class="conference-card__price">{{ content.field_priceimg}}</span>
            {% endif %}
        </div>
     {#   <a href="{{ url }}" class="conference-card__link">View Details</a> #}
    </div>
</div>


<div class="tabs">
  <!-- Tab Links -->
  <ul class="tab-links">
    <li class="active"><a href="#tab1">Tab 1</a></li>
    <li><a href="#tab2">Tab 2</a></li>
    <li><a href="#tab3">Tab 3</a></li>
  </ul>

  <!-- Tab Content -->
  <div class="tab-content">
    <!-- Tab 1 Content -->
    <div id="tab1" class="tab active">
      <div class="card">
        <h3>Card 1 - Tab 1</h3>
        <p>This is the content of the first card in Tab 1.</p>
      </div>
      <div class="card">
        <h3>Card 2 - Tab 1</h3>
        <p>This is the content of the second card in Tab 1.</p>
      </div>
      <div class="card">
        <h3>Card 3 - Tab 1</h3>
        <p>This is the content of the third card in Tab 1.</p>
      </div>
    </div>

    <!-- Tab 2 Content -->
    <div id="tab2" class="tab">
      <div class="card">
        <h3>Card 1 - Tab 2</h3>
        <p>This is the content of the first card in Tab 2.</p>
      </div>
      <div class="card">
        <h3>Card 2 - Tab 2</h3>
        <p>This is the content of the second card in Tab 2.</p>
      </div>
      <div class="card">
        <h3>Card 3 - Tab 2</h3>
        <p>This is the content of the third card in Tab 2.</p>
      </div>
    </div>

    <!-- Tab 3 Content -->
    <div id="tab3" class="tab">
      <div class="card">
        <h3>Card 1 - Tab 3</h3>
        <p>This is the content of the first card in Tab 3.</p>
      </div>
      <div class="card">
        <h3>Card 2 - Tab 3</h3>
        <p>This is the content of the second card in Tab 3.</p>
      </div>
      <div class="card">
        <h3>Card 3 - Tab 3</h3>
        <p>This is the content of the third card in Tab 3.</p>
      </div>
    </div>
  </div>
</div>
</article>
   </div>

{#
<div class="conference-list">
  {% for row in rows %}
    <div class="conference-card">
      <div class="conference-image">
        <img src="{{ row.content['#row']._entity.	field_card_.entity.url }}" alt="{{ row.content['#row']._entity.title.value }}">
      </div>
      <div class="conference-info">
        <h2>{{ row.content['#row']._entity.field_card_title.value }}</h2>
        <p><strong>Date:</strong> {{ row.content['#row']._entity.field_date.value|date("d M Y") }}</p>
        <p><strong>Location:</strong> {{ row.content['#row']._entity.field_location.value }}</p>
        <p><strong>Price:</strong> ₹ {{ row.content['#row']._entity.field_price.value }}</p>
      </div>
      <a href="{{ row.content['#row']._entity.url }}" class="btn btn-primary">View Details</a>
    </div>
  {% endfor %}
</div>


#}
